* {
  font-family: 'Lato';
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

header {
  text-align: center;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 49px;
  height: 49px;
}

.btn-menu {
  cursor: pointer;
  float: left;
  margin-left: 15px;
  margin-top: 18px;
  display: none;
}

.btn-close {
  cursor: pointer;
  float: left;
  display: block;
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 25px;
  top: 22px;
  content: ' ';
  height: 25px;
  width: 1px;
  background-color: #262a32;
}

.btn-close:before {
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.btn-menu .menu-bar {
  width: 18px;
  height: 2px;
  background-color: #262a32;
  margin: 6px 0;
}
/* MENU */

.menu {
  width: 100%;
  background-color: #262a32;
  padding: 15px;
  display: block;
}

.menu a {
  color: #fff;
  font-size: 16px;
}

.menu ul {
  padding: 0;
}

.menu-item {
  text-align: left;
  position: relative;
  margin: 34px 0;
}

.menu-item > a {
  font-weight: 700;
}

.menu-item:nth-child(1) {
  margin: 0 0 20px 0;
}

.menu-item .arrow-down {
  position: absolute;
  top: 7px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #fff;
}

/* SUBMENU */
li.submenu-item {
  position: relative;
}

li.submenu-item .arrow-down {
  position: absolute;
  top: 10px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #fff;
}

ul.submenu {
  width: 60%;
  padding-left: 10px;
  display: none;
}

ul.submenu li {
  margin: 10px 0;
}

.submenu-item ul {
  padding-left: 10px;
}

.menu-img img {
  width: 100%;
  max-width: 272px;
  min-height: 274px;
  border-radius: 4px;
}
/* CONTENT */
.content {
  padding-top: 20px;
}
.slider {
  max-width: 100%;
  background: url('../img/banner-1.jpg') no-repeat center right;
  background-size: cover;
  color: #fff;
  padding: 32px 15px;
  margin: 0 15px 22px 15px;
  border-radius: 3px;
}

.slider h1 {
  font-size: 1.55em;
  font-weight: bold;
}
.slider p {
  font-size: 14px;
  margin: 40px 0;
}

.slider .btn-view-more {
  color: #fff;
  display: block;
  max-width: 154px;
  height: 42px;
  margin: 20px auto 40px auto;
  border: 1px solid #fff;
  padding: 10px 34px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
}

.carrousel-controls {
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-right: 15px;
}

.dot.active {
  width: 16px;
  height: 16px;
  border: 3px solid #fff;
}

/* POPULAR ITEMS */
.popular-items {
  background-color: #262a32;
  padding: 33px 15px;
  color: #fff;
  text-align: center;
}

.popular-items h3 {
  font-size: 1.125em;
  position: relative;
}

.popular-items h3::before,
.popular-items h3::after {
  content: '';
  width: 25%;
  height: 2px;
  display: table;
  position: absolute;
  top: 50%;
  background-color: #fff;
  opacity: 0.1;
}

.popular-items h3::before {
  left: 0;
}

.popular-items h3::after {
  right: 0;
}

.product-item {
  margin: 24px 0;
}

.product-item img {
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.product-info {
  background-color: #fff;
  padding: 20px 45px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.product-info .description {
  font-size: 1em;
  color: #45413e;
}

.product-info .price {
  color: #011847;
  font-size: 0.875;
  margin-top: 22px;
}

/* BANNER */
.banner {
  background: url('../img/banner-osf.jpg') no-repeat center center / cover;
  max-width: 100%;
  color: #fff;
  text-align: center;
  padding: 30px 20px 64px 20px;
}

.banner h2 {
  font-size: 1.675em;
}

.banner h4 {
  font-size: 0.78em;
  font-weight: lighter;
  margin: 40px 0 0 0;
}

/* BENEFITS */
.benefits {
  max-width: 100%;
  background-color: #45413e;
  padding: 30px 16px;
}
.benefit {
  overflow: auto;
  margin-top: 46px;
}

.benefit:nth-child(1) {
  margin-top: 0;
}

.benefit-icon,
.benefit-description {
  float: left;
  width: 50%;
}

.benefit-icon img {
  display: block;
}

.benefit-icon {
  padding-top: 17px;
  padding-left: 30px;
}

.benefit-description h5 {
  font-size: 1.125em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.benefit-description p {
  color: #868380;
  font-size: 0.875em;
  line-height: 18px;
}

/* FOOTER */
footer {
  padding: 23px 16px;
  color: #333;
  font-size: 0.81em;
}

footer a {
  color: #333;
}

.contact,
.about,
.categories {
  position: relative;
}

.contact-wrapper,
.links-wrapper {
  display: block;
}

.contact-wrapper p {
  margin-top: 24px;
}

.links-wrapper ul li {
  margin-bottom: 15px;
}

.link-wrapper ul li a {
  font-size: 13px;
  color: rgba(51, 51, 51, 0.7);
}

.contact h4,
.about h4,
.categories h4 {
  margin: 24px 0 22px 0;
}

.contact .arrow-down,
.about .arrow-down,
.categories .arrow-down {
  position: absolute;
  top: 3px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #67696f;
  opacity: 0.7;
}

.contact .arrow-up,
.about .arrow-up,
.categories .arrow-up {
  position: absolute;
  top: 4px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #67696f;
  opacity: 0.7;
}

.social {
  text-align: center;
  margin-bottom: 24px;
}

.social ul li {
  display: inline-block;
  margin-right: 24px;
}

.social ul li a {
  font-weight: bolder;
  opacity: 0.3;
}
.social i:before,
.fixed-action-bar i::before {
  margin-left: 0;
}

.social i:before {
  font-size: 18px;
}

/* FIXED ACTION BAR */

.fixed-action-bar {
  max-width: 100%;
  background-color: #262a32;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 20px 12px 20px;
  text-align: center;
}

.fixed-action-bar ul li {
  display: inline-block;
  position: relative;
  margin-right: 36px;
}

.fixed-action-bar ul li .badge {
  position: absolute;
  top: -10px;
  left: 15px;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #262a32;
  border: 2px solid #84bc22;
  color: #84bc22;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  padding-top: 5%;
}

.fixed-action-bar i::before {
  font-size: 24px;
}
