* {
  font-family: 'Lato';
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  text-align: center;
}

.logo {
  margin: 10px;
}

.logo img {
  width: 49px;
  height: 49px;
}

.btn-menu {
  cursor: pointer;
  float: left;
  margin-left: 15px;
  margin-top: 18px;
  display: block;
}

.btn-close {
  cursor: pointer;
  float: left;
  display: none;
}

.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 25px;
  top: 22px;
  content: ' ';
  height: 25px;
  width: 1px;
  background-color: #262a32;
}

.btn-close:before {
  transform: rotate(45deg);
}

.btn-close:after {
  transform: rotate(-45deg);
}

.btn-menu .menu-bar {
  width: 18px;
  height: 2px;
  background-color: #262a32;
  margin: 6px 0;
}

.menu {
  width: 100%;
  background-color: #262a32;
  padding: 15px;
  display: none;
}

.menu a {
  color: #fff;
  font-size: 16px;
}

.menu ul {
  padding: 0;
}

.menu-item {
  text-align: left;
  position: relative;
  margin: 34px 0;
}

.menu-item > a {
  font-weight: 700;
}

.menu-item:nth-child(1) {
  margin: 0 0 20px 0;
}

.menu-item .arrow-down {
  position: absolute;
  top: 7px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #fff;
}

li.submenu-item {
  position: relative;
}

li.submenu-item .arrow-down {
  position: absolute;
  top: 10px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #fff;
}

ul.submenu {
  width: 60%;
  padding-left: 10px;
  display: none;
}

ul.submenu li {
  margin: 10px 0;
}

.submenu-item ul {
  padding-left: 10px;
}

.menu-img img {
  width: 100%;
  max-width: 272px;
  min-height: 274px;
  border-radius: 4px;
}

.main-banner {
  margin: 20px 20px 20px 24px;
  background: url('../img/banner-1.jpg') no-repeat center right;
  background-size: cover;
  max-width: 100%;
  height: 470px;
}
