* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  list-style: none;
}
.header {
  /* position: fixed;
  top: 0;
  
  max-width: 1280px;
  margin: 0 auto; */
  /* position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%); */
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  /* border-bottom: 1px solid #000; */
}
.header.container {
  width: 1280px;
  overflow: auto;
  margin: 0 auto;
}

.logo {
  margin-bottom: 10px;
}

.logo__link {
  display: flex;
  padding-top: 3px;
}
.logo__brand {
  margin-left: 10px;
}
.logo__brand-first {
  font-weight: bold;
  color: rgb(19, 19, 63);
  margin-bottom: 1px;
}
.logo__brand-second {
  font-weight: lighter;
  color: green;
  font-size: 16px;
}

.menu {
  /* align-self: flex-end; */
}

.menu__first-level-item > a {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.menu__first-level-item {
  display: inline-block;
  padding: 12px 12px 30px 10px;
  position: relative;
  border-bottom: 3px solid transparent;
  /* padding-bottom: 30px; */
}

.menu__second-level {
  width: 1980px;
  color: #fff;
}
.menu__second-level a {
  color: #fff;
}

.menu__second-level-label {
  font-weight: bold;
}

.actions-bar__item {
  display: inline-block;
}
.menu__first-level-label {
  font-size: 14px;
  padding: 12px 5px;
}
.menu__first-level-item:nth-child(1) .menu__first-level-label {
  padding-right: 25px;
}

.menu__first-level-item:nth-child(1):hover {
  background-color: #262a32;
  border-bottom: 3px solid #84bc22;
}

.menu__first-level-item:nth-child(1):hover a {
  color: #fff;
  font-weight: lighter;
}

.menu__first-level-item:nth-child(1):hover .menu__first-level-arrow-down {
  border-top: 7px solid rgba(255, 255, 255, 0.7);
}

.menu__first-level-arrow-down {
  position: absolute;
  top: 20px;
  right: 9px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
}
.menu__first-level-item:nth-child(2) .menu__first-level-arrow-down,
.menu__first-level-item:nth-child(3) .menu__first-level-arrow-down,
.menu__first-level-item:nth-child(4) .menu__first-level-arrow-down {
  display: none;
}
.menu__first-level-item:nth-child(5) .menu__first-level-label,
.menu__first-level-item:nth-child(6) .menu__first-level-label {
  color: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

.actions-bar {
  color: rgba(0, 0, 0, 0.4);
  margin-right: 30px;
}

.actions-bar__item {
  position: relative;
}
.actions-bar ul li .badge {
  position: absolute;
  top: -10px;
  left: 32px;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #84bc22;
  color: #84bc22;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  padding-top: 5%;
}
.menu__second-level {
  display: flex;
}
.mega-menu {
  position: fixed;
  left: 0;
  z-index: 11;
  top: 79px;
  display: flex;
  height: 400px;
  justify-content: space-between;
  max-width: 100%;
  padding: 50px;
  background-color: #262a32;
  display: none;
}
.menu__second-level-item:nth-child(1) {
  width: 75%;
}

.menu__second-level-label {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.menu__third-level {
  display: flex;
  justify-content: space-around;
}

.menu__third-level .col {
  margin-right: 130px;
}
.menu__third-level-item {
  margin-top: 10px;
}

.menu__third-level-link {
  font-weight: 200;
  font-size: 14px;
}

.menu__first-level-item:hover .mega-menu {
  display: flex;
}

.actions-bar__item i::before {
  font-size: 25px;
}
